<h1>Sistema de Notas</h1>

<h2>Turmas</h2>

<table>
    <tr>
        <td><label>Nome</label></td>
        <td><input [(ngModel)]="turma.nome"></td>
    </tr>
    <tr>
        <td><label>Materia</label></td>
        <td><input [(ngModel)]="turma.materia"></td>
        <td><button (click)="gravar(turma)">Criar nova turma</button></td>
    </tr>
</table>

<ul>
    <li *ngFor="let a of turmas">
            <span>{{a.nome}}</span>,
            <span>{{a.materia}}</span>
            <button (click)="editar(a)">Editar</button>
    </li>
</ul>