<html (mousemove)="onMove()">
    <h1>Sistema de Notas</h1>

    <h2>Turmas</h2>

    <table>
        <tr>
            <td><label>Nome</label></td>
            <td><input [(ngModel)]="turma.nome"></td>
            <td *ngIf="turmaduplicada">
                Já existe uma turma com esse nome.
            </td>
        </tr>
        <tr>
            <td><label>Materia</label></td>
            <td><input [(ngModel)]="turma.materia"></td>
            <td><button (click)="criar(turma)">Criar nova turma</button></td>
        </tr>
    </table>

    <metas [turmas]="turmas"></metas>
</html>